@{
    ViewBag.Title = "Ejemplo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Si quiere conocer un poco mas acerca de mi perfil, puede consultar el siguiente enlace</p>


<object data="https://www.linkedin.com/in/mobiledev-carlosdiaz/" width="300" height="400">
    <embed src="https://www.linkedin.com/in/mobiledev-carlosdiaz/" width="300" height="400">
    </embed> ERROR, No pudo mostrarse la pagina.
</object>
