@{
    ViewBag.Title = "Carlos Diaz";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    Bogota, Colombia<br />
    <abbr title="Phone">P:</abbr>
    3505947790-3167691682
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">carlosdz.centi@gmail.com</a><br />
    <!-- <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">carlosdz_centi@hotmail.com</a> -->
</address>


<p><a href="https://www.linkedin.com/in/mobiledev-carlosdiaz/" class="btn btn-primary btn-lg">LinkedIn &raquo;</a></p>