@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DEMO APPS</h1>
    <br>
    <p class="lead">Para este ejemplo estamos usando ASP.NET un framework web para crear sitios y aplicaciones web utilizando HTML, CSS y JavaScript entre otros.</p>
    
    <p class="lead">Este Demo contiene un API para consumir desde aplicaciones móviles</p>
    <br>
    <p><a href="https://www.linkedin.com/in/mobiledev-carlosdiaz/" class="btn btn-primary btn-lg">LinkedIn &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Demostración DAVIVIENDA</h2>
        <p>
            En esta sencilla demostración podrá una implementación sencilla de una puesta en practica de una aplicacíon
        </p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> -->
    </div>

    <div class="col-md-4">
        <h2>Caracteristicas</h2>
        <ol>
            <li>El proyecto se construye usando ASP.NET MVC</li>
            <li>Se facilita un CRUD para interactual desde la WEB-APP</li>
            <li>Se expone un API para consumir servicios desde un APP móvil</li>
        </ol>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p> -->
    </div>

    <div class="col-md-4">
        <h2>Herramietnas</h2>
        <p><u>Backend:</u></p>
        <ul>
        <li>Visual Studio</li>
        <li>SQLServer Express</li>        
        </ul>
        <p><u>Front-MobileApp:</u></p>
        <ul>
            <li>Xcode</li>
        </li>


        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p> -->
</div>
    </div>
